extends layout

block head
	title Spring Library
	script(type="text/javascript",src="javascripts/elements.js")

block content
	input#open(type="file",style="display: none;")
	input#saveAs(type="file",style="display: none;",nwsaveas)
	div#library(ng-controller="elementsCtrl")
		div.toolbar
			button.right(ng-click="newElement()") New Element

			label Play Channel
				input(type="text",ng-model="channel",size="4")
			label Preview Channel
				input(type="text",ng-model="previewChannel",size="4")
		div.elements
			div.element(ng-repeat="(index, element) in elements | orderBy:'number'",ng-click="selectElement(element.number)",ng-right-click="elementContextMenu($event, element.number)",ng-dblclick="editElement(element)",ng-class="{selected: element.number == selectedElement}")
				div.number {{element.number}}
				div.file {{element.name}}
				button(ng-click="runElement(element.number)") >

		div.loadNumber(ng-show="loadNumber != ''") {{loadNumber}}