extends layout

block head
	title Edit
	script(type="text/javascript",src="javascripts/elementEditor.js")

block content
	div#itemEditor(ng-controller="elementEditorCtrl")
		div.editor
			label 
				span Number
				input#number(type="number",ng-model="data.number",size="4")
			label
				span Name
				input#name(type="text",ng-model="data.name")
			label
				span Type
				select(ng-model="data.type",ng-options="value as label for (value, label) in types")
			div(ng-show="data.type=='media'")
				label
					span File
					select(ng-model="data.src",ng-options="file.file as file.file for file in mediaFiles")
				label
					span Loop Playback
					input(type="checkbox",ng-model="data.loop")
				label
					span Auto Start
					input(type="checkbox",ng-model="data.auto")

			div(ng-show="data.type=='template'")
				label
					span File
					select(ng-model="data.src",ng-options="file.file as file.file for file in templateFiles")

				div(ng-repeat="field in fields | orderBy:'field'")
					label 
						span {{field}}
						input(type="text",ng-model="data.data[field]")

		div.toolbar
			button.left(ng-click="cancel()") Cancel
			button(ng-click="done()") Done
			button(ng-click="preview()",ng-show="isPreviewEnabled()") Preview