extends layout

block head
	script(type="text/javascript",src="javascripts/elementEditor.js")

block content
	div#itemEditor(ng-controller="elementEditorCtrl")
		div.editor
			label 
				span Number
				input(type="number",ng-model="data.number",size="4")
			label
				span Name
				input(type="text",ng-model="data.name")
			label
				span Type
				select(ng-model="data.type",ng-options="value as label for (value, label) in types")
			label(ng-show="data.type=='media'")
				span File
				select(ng-model="data.src",ng-options="file.file as file.file for file in mediaFiles")
			label(ng-show="data.type=='template'")
				span File
				select(ng-model="data.src",ng-options="file.file as file.file for file in templateFiles")

			div(ng-show="data.type=='template'")
				div(ng-repeat="field in fields | orderBy:'field'")
					label 
						span {{field}}
						input(type="text",ng-model="data.data[field]")

		div.toolbar
			button.left(ng-click="cancel()") Cancel
			button(ng-click="done()") Done
			button(ng-click="preview()") Preview
			label Channel
				input(type="text",ng-model="previewChannel",size="4")