extends layout

block head
	title Spring Library
	script(type="text/javascript",src="javascripts/elements.js")

block content
	input#open(type="file",style="display: none;")
	input#saveAs(type="file",style="display: none;",nwsaveas)
	div#library(ng-controller="elementsCtrl")
		div.toolbar
			button.right(ng-click="newElement()") New Element

			label
				input(type="checkbox",ng-model="autoPreview")
				span Preview Selected Element

		div.elements(ng-click="selectElement(-1, $event)",ng-dblclick="newElement()")
			div.element(ng-repeat="(index, element) in elements | orderBy:'number'",ng-click="selectElement(element.number, $event)",ng-right-click="elementContextMenu($event, element.number)",ng-dblclick="editElement($event, element)",ng-class="{selected: element.number == selectedElement}")
				div.number {{element.number}}
				div.file {{element.name}}
				button.play(ng-click="$event.stopPropagation();runElement(element.number);") >

		div.loadNumber(ng-show="loadNumber != ''") {{loadNumber}}