doctype 5
html(ng-app="cg")
	head
		link(rel='stylesheet', href='fonts/fonts.css')
		link(rel='stylesheet', href='styles/style.css')
		script(type="text/javascript",src="javascripts/jquery-1.8.1.min.js")
		script(type="text/javascript",src="javascripts/angular.min.js")
		script(type="text/javascript",src="javascripts/global.js")
		block head
	body
		block content