extends layout

block head
	title Spring Settings
	script(type="text/javascript",src="javascripts/settings.js")

block content
	div#settings(ng-controller="settingsCtrl")
		div.editor
			h1 Caspar CG
			label
				span Address
				input(type="text",ng-model="data.casparCg.address",size="25")
			label
				span Address
				input(type="text",ng-model="data.casparCg.port",size="5")

			h1 Playout 1
			label 
				span Channel
				input(type="text",ng-model="data.playout.channel",size="2")
			label
				span Video Layer
				input(type="text",ng-model="data.playout.videoLayer",size="2")
			label
				span Template Graphics Layer
				input(type="text",ng-model="data.playout.templateLayer",size="2")
			label
				span Template Background Layer
				input(type="text",ng-model="data.playout.templateBgLayer",size="2")

			h1 Preview
			label
				input(type="checkbox",ng-model="data.preview.enabled")
				span Enable Preview
			label
				span Channel
				input(type="text",ng-model="data.preview.channel",size="4")

		div.toolbar
			button(ng-click="done()") Done