@import "nib/index"

darkbgcolor = #303030
darkbgcolorSelected = #101010

bgcolor = #535353
bgcolorSelected = #424242

lightbgcolor = #757575
lightbgcolorSelected = #646464

no-select()
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

body
	no-select()
	margin 0
	padding 0
	font: 8pt "DroidSans", sans-serif
	background-color bgcolor
	color #FFF
	text-shadow 0px -1px 0px #333333
	overflow hidden

a
	color: #00B7FF

div
	cursor default

input[type=text], input[type=number], select
	background lightbgcolor
	border-radius 2px
	box-shadow 0px 1px 0px 0px #737373
	border 1px solid #303030
	color #FFF
	text-shadow 0px -1px 0px #333333
	padding 1px 4px

select
	padding-right 1px

button, input[type=button]
	background linear-gradient(top, #6B6B6B, #545454)
	border-radius 2px
	box-shadow 0px 1px 0px 0px #737373
	border 1px solid #303030
	color #FFF
	text-shadow 0px -1px 0px #333333

	&:active
		background linear-gradient(bottom, #6B6B6B, #545454)

div.toolbar
	position absolute
	top 0
	left 0
	right 0
	height 27px
	padding 5px
	background linear-gradient(top, #6B6B6B, #545454)
	border-top 1px solid rgba(0, 0, 0, 0.5)
	border-bottom 1px solid #303030
	box-shadow 0px 1px 0px 0px rgba(0, 0, 0, 0.5)

	.right
		float right

div#library
	div.elements
		position absolute
		top 39px
		right 0
		bottom 0
		left 0
		overflow-y auto
		background darkbgcolor

	div.element
		clear both
		overflow hidden
		border-bottom 1px solid #303030
		box-shadow inset 0px 1px 0px 0px #6A6A6A
		padding 4px
		background bgcolor

		&.selected
			background bgcolorSelected
		div.number
			float left
			width 45px
			padding 5px
			font-weight bold
			font-size 20px
			text-align center
			border 1px solid #303030
			box-shadow inset -1px -1px 0px 0px #6A6A6A

		div.file
			float left
			padding 0 10px

	div.loadNumber
		position absolute
		bottom 10px
		left 10px
		background lightbgcolor
		border-radius 10px
		box-shadow 0px 1px 0px 0px #737373
		border 1px solid #303030
		color #FFF
		text-shadow 0px -1px 0px #333333
		padding 2px 5px
		font-weight bold
		font-size 14px

div#itemEditor
	padding 10px

	div.editor
		position absolute
		top 0
		left 0
		right 0
		bottom 39px
		overflow-y auto

		label, div.label
			display block
			font-weight bold
			clear left
			margin 3px
			overflow hidden

			span
				float left
				width 50px
				padding 6px

			input, select, button
				float left

	div.toolbar
		top auto
		bottom 0
		button, label
			float right

		.left
			float left